*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

/* FOR MAIN NAVBAR*/
.nav-main{
    height: 50px;
    background-color:#913718 ;
    display: flex;

}

/*  FOR LOGO  */
.navlogo{
    height: 50px;
    width: 50px;
}

.logo{
    background-image: url(panchang.png);
    height: 30px;
    width: 30px;
    background-size: cover;
    text-align: center;
}




